.mainContainer {
    background-color: darkgrey;
    height: 100%;
    width: 100%;
}

.header {
    color: white;
    background-color: rgba(58, 57, 57, 0.986);
    padding: 1rem 2rem;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100%;
    box-sizing: border-box;

    .button {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.content {
    width: 100%;
    flex-grow: 1;
}

.quitDialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}